<div class="row">
  <div class="col">
    <%= render "shared/sidebar" %>
  </div>
  <div class="col">
    <h1>Settings#<%= @current_user.setting.gender %></h1>
    <p>Find me in app/views/settings/index.html.erb</p>
  </div>
</div>