<main class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Register</h1>
        <p class="col-lg-10 fs-4">Sign up for a free account today.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 appSectionInner" action="/register" method="post">
          <%= render "shared/flash_messages" %>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" name="username" placeholder="michael_reeves21" value="<%= session[:r_username] %>" required>
            <label class="text-dark" for="username">Username</label>
          </div>          
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="<%= session[:r_email] %>" required>
            <label class="text-dark" for="email">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            <label class="text-dark" for="password">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            <label class="text-dark" for="password">Confirm Password</label>
          </div>
          <button class="w-100 btn btn-lg btn-outline-light" type="submit">Create Account</button>
          <hr class="my-4">
          <small class="mainText">By clicking Create Account, you agree to.......nothing, enjoy the app :)</small>
        </form>
      </div>
    </div>
  </main>