<div data-controller="artist-search">
    <input data-action="input->artist-search#handleChange" data-artist-search-target="input" type="text" placeholder="Search for artists...">
    <select data-artist-search-target="dropdown">
        <!-- Options will be populated by Stimulus -->
    </select>
</div>
