<div data-controller="artist-search">
    <input data-artist-search-target="input" data-action="artist-search#loadArtists" type="text" placeholder="Search for artists...">
    <select data-artist-search-target="dropdown">
        <!-- Options will be populated by Stimulus -->
    </select>
</div>
