<%= render "shared/sidebar" %>
<div class="row">
<%= render "shared/profileview" %>    
</div>
<div class="row">
<a class="btn btn-outline-primary" href="/edit_profile" role="button">Edit Profile</a>
<a class="btn btn-outline-danger" href="/delete_profile" role="button">Delete Profile</a>     
</div>



