<%= render "shared/sidebar" %>
<div class=" text-center overflow-scroll border rounded-3 appSection">
  <%= render "shared/profileview" %> 
  <br/>
  <div class="appSectionInner border rounded-3" data-controller="confirmation">
    <a class="btn btn-outline-light" href="/edit_profile" role="button">Edit Profile</a>
    <a data-action="confirmation#promptUser" class="btn btn-outline-danger" href="/delete_profile" role="button" data-turbo="false">Delete Profile</a>    
  </div>   
  
</div>



