<%= render "shared/homehead" %>
<main class="container col-xl-10 col-xxl-8 px-4 py-5 ">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Contact Us Here</h1>
        <p class="col-lg-10 fs-4">If you want to connect or have questions, feel free to email me here at:</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 appSectionInner">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value="ndlcontact@yahoo.com">
            <label class="text-dark" for="floatingInput">Email address</label>
          </div>
          <button class="w-100 btn btn-lg btn-outline-light" type="submit">I Do Nothing!</button>
          <hr class="my-4">
        </form>
      </div>
    </div>
  </main>
<%= render "shared/homefoot" %>