<%= render "shared/sidebar" %>
<div class="border rounded-3 text-center overflow-scroll appSection">
  <%= render "shared/profileview" %> 
  <br/>
  <div class="appSectionInner border rounded-3">
  <a class="btn btn-outline-light" data-turbo="false" href="/direct_messages?user=<%= @current_user.username %>" role="button">Send Message</a>
  <a class="btn btn-outline-light" href="/find" role="button">Go Back</a>  
  </div> 
</div>


