<div class="row align-items-start">
  <div class="col">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="bi bi-boombox-fill"></i>Vincula</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact_us">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/support">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/safety_tips">Safety Tips</a>
      </li>
    </ul>
  </div>
  <div class="col">
    <a class="btn btn-outline-primary" href="/log_in" role="button">Sign In</a>
  </div>
</div>


