<header class="d-flex flex-wrap justify-content-center py-3 header mainText">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis  navbarLinks">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="<%= %>"></use></svg>
    <span class="fs-4 mainText navbarLinks">Vincula</span>
  </a>

  <ul class="nav nav-pills ">
    <li class="nav-item"><a href="/about" class="nav-link mainText navbarLinks">About</a></li>
    <li class="nav-item"><a href="/contact_us" class="nav-link mainText navbarLinks">Contact Us</a></li>
    <li class="nav-item"><a href="/support" class="nav-link mainText navbarLinks">Support</a></li>
    <li class="nav-item"><a href="/safety_tips" class="nav-link mainText navbarLinks">Safety Tips</a></li>
    <li class="nav-item"><a class="nav-link mainText navbarLinks" href="/log_in" role="button">Sign In</a></li>
  </ul>
</header>
