<section class="text-center footer">
 <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>Members Joined: <span id="memberCount"><%= User.count %></span></h2>
      </div>
    </div>
 </div>
</section>