            <div class="col-md-4">
                <!-- Profile Picture -->
                <img src="profile-picture.jpg" class="img-fluid rounded-circle mb-3" alt="Profile Picture">
                <!-- Username -->
                <h2 class="mb-3"><%= @current_user.username %></h2>
                <!-- Bio -->
                <p class="mb-3">Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                <!-- Location -->
                <p class="mb-3"><strong>Location:</strong> New York, USA</p>
            </div>
            <div class="col-md-8">
                <!-- Genres, Bands, and Titles -->
                <div class="row">
                    <div class="col-md-6">
                        <h5>Genres</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Rock</li>
                            <li class="list-group-item">Pop</li>
                            <li class="list-group-item">Jazz</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>Bands</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Band 1</li>
                            <li class="list-group-item">Band 2</li>
                            <li class="list-group-item">Band 3</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <h5>Titles</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Title 1</li>
                            <li class="list-group-item">Title 2</li>
                            <li class="list-group-item">Title 3</li>
                        </ul>
                    </div>
                </div>
            </div>
