<%= render "shared/homehead" %>
<main class="mainPart px-4 py-5 ">
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h1 class="fw-bold text-body-emphasis">Safety-Tips</h1>
        <p class="mainText">Since there is a chance of meeting people through this app, here are some tips for your safety</p>
      </div>
      <div class="col d-flex">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis">Avoid In-Person Meetings Alone</h4>
            <p class="mainText">Meet in public places or with a group of friends. This approach significantly reduces the risk of harm and ensures safety.</p>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis">Be Cautious with Personal Information</h4>
            <p class="mainText">Be cautious about sharing personal information online, especially with individuals you've just met. This includes personal data such as your address, exact location, etc...</p>
          </div>
        </div>                        
      </div>
    </div>
  </main>
<%= render "shared/homefoot" %>
