<%= render "shared/homehead" %>
<main class="px-4 pt-5 text-center mainPart">
    <h1 class="display-4 fw-bold text-body-emphasis">Walkthrough</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This video demonstrates a quick tutorial on how to use the web application and what it has to offer.</p>
    </div>
    <div class="" style="max-height: 30vh;">
      <div class="container px-5">
        <iframe class="img-fluid border rounded-3" width="512" height="600" src="https://www.youtube.com/embed/aNC2XUBgACM" allowfullscreen></iframe>
      </div>
    </div>
  </main>
<%= render "shared/homefoot" %>
