<%= render "shared/homehead" %>
<div class="row">
  <div class="col">
  <video width="320" height="240" controls>
    <source src="/videos/creation.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  </div>
</div>
<%= render "shared/homefoot" %>