<%= render "shared/homehead" %>
<main class="mainPart px-4 py-5 text-center ">

      <div class="container-fluid">
          <video class="img-fluid border rounded-3" width="512" height="384" controls>
            <source src="/videos/creation.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
      </div>
      <div class="container-fluid">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">The Vision</h1>
        <p class="lead">This video shows a little about the creator of this web page along with the intended vision behind it.</p>
      </div>

  </main>
<%= render "shared/homefoot" %>