<%= render "shared/homehead" %>
<div class="row">
  <div class="col">
    <p> Hi How are you doing on this lovely day <p> 
    <button type="button" class="btn btn-outline-success">Create Account</button>
  </div>
</div>
<%= render "shared/homefoot" %>