<%= render "shared/homehead" %>
<div class="row align-items-center">
  <div class="col">
    <p> THis is home page<p> 
    <a class="btn btn-outline-success" href="/register" role="button">Create Account</a>
  </div>
</div>
<%= render "shared/homefoot" %>