<%= render "shared/homehead" %>
<main class="px-4 pt-5 text-center overflow-hidden mainPart">  
    <div class="container ">
        <h1 class="display-4 fw-bold text-body-emphasis">Harmonize New Beginnings</h1>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p class="lead mb-4">Start connecting with other musicians who share the same interest as you!</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <a class="btn btn-outline-light btn-lg" href="/register" role="button">Register</a>  
                </div>
            </div>
        </div>
    </div>     
</main>
<%= render "shared/homefoot" %>
