<div class="mainPart text-center align-items-center">
    <br/>
    <br/>
    <br/>
    <br/>
    <img src="/images/resume_code.png" width="512" height="384" alt="QR code to your resume" class="img-fluid">
</div>